{% extends './base.html' %}
{% block titleblock %}<title></title>{% endblock %}
{% block body %}
<br>
<div>
<form action="/restaurant/addRestaurant/" method="POST">
	{% csrf_token %}
	{% if restaurant %}
		<span class="badge badge-pill badge-secondary">餐廳名稱</span>
		<input type="text" name="restaurant_name" value={{restaurant.restaurant_name}}><br>
		<span class="badge badge-pill badge-secondary">餐廳電話</span>
		<input type="text" name="phone_number" value="{{restaurant.phone_number}}"><br>
		<span class="badge badge-pill badge-secondary">座位人數</span>
		<input type="text" name="seat_number" value="{{restaurant.seat_number}}"><br>
		<span class="badge badge-pill badge-secondary">過號時間限制</span>
		<input type="text" name="timeout" value="{{restaurant.timeout}}"><br>
		<span class="badge badge-pill badge-secondary">平均用餐時間</span>
		<input type="text" name="eat_time" value="{{restaurant.eat_time}}"><br>
		<button type="submit" class="btn btn-secondary">Update</button>
	{% else %}
		<span class="badge badge-pill badge-secondary">餐廳名稱</span>
		<input type="text" name="restaurant_name"><br>
		<span class="badge badge-pill badge-secondary">餐廳電話</span>
		<input type="text" name="phone_number"><br>
		<span class="badge badge-pill badge-secondary">座位人數</span>
		<input type="text" name="seat_number"><br>
		<span class="badge badge-pill badge-secondary">過號時間限制</span>
		<input type="text" name="timeout"><br>
		<span class="badge badge-pill badge-secondary">平均用餐時間</span>
		<input type="text" name="eat_time"><br>
		<button type="submit" class="btn btn-secondary">Submit</button>
	{% endif %}
</form>
</div>
<hr class="my-4">
<br>
{% if restaurant %}
<div>
	<table class="table table-sm" style="width: 50px; align: center;">
		<thead>
			<tr>
				{% for tmp in r.waiting_queue_client %}
				<th scope="col" style="width: 10px" >{{forloop.counter}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for name in r.waiting_queue_client %}
				<td>{{name}}</td>
				{% endfor %}
			</tr>
		</tbody>
		<tbody>
			<tr>
				{% for name in r.waiting_queue_phone_number %}
				<td>{{name}}</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
	<button type="submit" class="btn btn-secondary" onclick="location.href='/restaurant/takeSeat/{{restaurant.restaurant_name}}'">帶位</button>
	<button type="submit" class="btn btn-secondary" onclick="location.href='/restaurant/skip/{{restaurant.restaurant_name}}'">過號</button><br>
</div>
<hr class="my-4">

<div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Operation</th>
			<!-- <th scope="col">Handle</th> -->
		</tr>
	</thead>
	<tbody>
	{% for tmp in r.dining_queue_client %}
	<tr>
		<th scope="row">{{forloop.counter}}</th>
		<td>{{tmp}}</td>
		<td><button type="submit" class="btn btn-secondary" onclick="location.href='/restaurant/eatFinish/{{tmp}}&{{r.name}}'">吃完</button></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
{% endif %}

{% endblock %}