{% extends "base.html" %}
{% load staticfiles %} <!-- 加載靜態文件 -->

{% block title %}餐廳訂位＆排隊系統{% endblock %}

{% block header_extends %} <!-- 導入 css 文件 -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %} 

{% block content %}
	<h2>Restaurant Information</h2>
	<br>
	{% if user.is_authenticated %}
	<div>
		<h5>----------------------------------------<h5>
	</div>
	
		{% for restaurant in restaurants %}
			<div>
				<h5>餐廳名稱: {{restaurant.restaurant_name}}<h5>
    			<h5>餐廳電話: {{restaurant.phone_number}}<h5>
    			<h5>到達時間: {{restaurant.coming_time}}<h5>
    			<h5>----------------------------------------<h5>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
